/* -----------------------Create by Hoareau Brenda Marinasy----------------------- */

body {
	width: 100vw;
	margin: 0;
}
#Banderole{
	background-color: #D8D8D8;

}
header{
	margin: 0;
	background-color: #D8D8D8;
	overflow: hidden;
	height: 36vh;

}
header h1{
	font-variant:small-caps;
	text-align:center;
  font-weight: normal;
}
#logo{
	width: 60px;
	height: 40px;
}
#monCompte, #panier{
	width: 40px;
}

nav{
	background-color: #CED8F6;
}
nav h2 a:first-child{
	text-decoration: none;
	background-color: black
}
nav h2{

  font-weight: normal;
}
nav ul{
	padding-left: 0;
	text-align:center;

}
nav ul li{
  list-style: none;
  display: inline-block;
  height: 10vh;
  width: 10vw;
  text-align: center;
  line-height: 70px;


}
nav ul li a {
	text-decoration: none;

}
nav ul li:hover{
background-color:#EFFBEF;
color: white;
}
#Barre_recherche{
	margin: auto;
	padding: 0;
	text-align: center;
}
#Barre{
	margin-top: 20vh;
	width: 30vw;


}
section{
	background-image: url("../data/chaton-01.jpg");
	margin: 0;
	width: 100vw;
	height: 70vh;


}
p{
	margin: 0;
}
footer{
	background-color:#585858;
	height: 15vh;

}
#recherche{

	width: 20px;
	height: 20px;
	vertical-align: bottom;

}
