body{
  background-color:#F2F2F2;
}

figure img {
  width: 200px;
  height: 200px;
}
figure{
  margin: 0;

}
article div{
    display: inline-block;
    background-color: white;
    text-align: center;
    margin-left: 1vw;
    margin-bottom: 3vh;
}
figcaption{
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: red;
}
div p {
  text-align: center;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}
article{
  margin: 0;
  padding: 0;
  width: 75vw;
  float: right;

}
a{
  text-decoration: none;
  color: black;
}
section{
  background: none;
}
aside{
  background-color: white;
  margin: 0;
  margin-top: 10vh;
  height: 30vh;
  width: 20vw;
  margin-left: 1vw;
  text-align: center;
  font-size: 1em;
  font-weight: bold;

}
footer{
  position: relative;
  margin-top: 10vh;
}
